* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --top: #3161E0;
    --white: #FFFFFF;
    --gray: #F6F6F6;
    --black: #23272A;
    --lblue: #8EA1E1;
}

body {
    font-family: 'Montserrat', sans-serif;

}
/*Debug*/
.debug #site_header {
    height: 50px;
    background-color: blueviolet;
} 
.debug .logo {
    
    background-color: black;
}
.debug .menu{
    
    background-color: bisque;    
}
.debug .access{
    
    background-color: aqua;
}
.debug .container{
    border: 1px solid red;
}
.debug .raw{
    background-color: rgba(165, 42, 42, 0.068);
    border: 5px, solid, black;
}
.debug .col-6{
    border: 2px solid black;
}
.debug .meet{
    background-color: bisque;
}
.debug .place{
    background-color: yellow;
}
.debug .jumbotron{
    background-color: brown;
}
.debug .less{
    background-color: chocolate;
}
.debug .tecnology{
    background-color: green;
}
/*endebug*/

/*Common*/

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white);
}

.container{
    width: 80%;
    max-width: 1152px;
    margin:auto
}
.raw{
    display: flex;
}
.column{
    flex-direction: column;
    align-items: center;
}

.col-4{
    width: calc((100% / 12)*4);
    height:400px;  
}
.col-8{
    width: calc((100% / 12)*8);
    height:400px;
}
button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 1.5rem;
    font-size: 14px; 
    padding: 0.5rem 0.75rem;  
}
.d-flex{
    display: flex;
}
.justify_around{
    justify-content: space-around;
}
.direction_column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.space_between{
    justify-content: space-between;
}


/*header*/
#site_header{
    background-color: var(--top);
}
.menu{
    
    height:30px;
    display: flex;
    justify-content:space-around; 
    flex-grow: calc(2);
}
.upper{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.access{
    padding: 0.25rem , 0.5rem;
    background-color: var(--white);
    color: var(--black);
}
.logo{
    padding: 0.5rem , 0.5rem;
}
.h1{
    display: flex;
    justify-content: center;
}
#site_header nav .logo,
#site_header nav .h1 {
    flex-grow: 1;
}
#site_header nav .menu{
    flex-grow: 2;
}
/*heder end*/

/*jumbotron*/
.jumbotron{
    text-align: center;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;   
    padding: 5rem;
}
.jtitle{
    margin-bottom: 2rem;
    color: var(--white);
    font-size: 3.5rem;
}
.jtext{
    margin-bottom: 1rem;
    color: var(--white);
    line-height: 1.5rem;

}
.download{
    background-color: var(--white);
    color: var(--black);
    
}
.open{
    background-color: var(--black);
    color: var(--white);    
}

/*endjumbotron*/

/*place*/
.place{
    background-color: var(--white);
}
.logo_1{
    width: 100%;
    height:100%;
}
/*endplace*/
/*meet*/
.meet{
    background-color: var(--gray);
}
.logo_2{
    width: 100%;
    height:100%;
}
/*endmeet*/
/*less*/
.logo_3{
    width: 100%;
    height:100%;
}
/*endless*/

/*tecnology*/
.tecnology{
text-align: center;
background-color: var(--gray);
}
.logo_4{
    height: 100%;
    width:100%;
}
.mac{ 
    background-color: var(--lblue);
    color: var(--white);
}
/*endtecnology*/
/*footer*/
#site_footer{
    background-color: var(--black);
    text-align: center;
}
#site_footer section .first{
    flex-grow: 1;
}
#site_footer section .h1{
    flex-grow: 2;
}
.register{
    background-color: var(--lblue);
    color: var(--white);
}